.header{
    background-color: red;
}

.inner-header{
    padding:20px;
}

.logo-container{
    color: white;
    position:relative; left:10px; top:-1px;
}

.navigation{
    position:fixed; right:20px; top:30px;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: black;
    color: #FF8C00;
}

.content{
    padding: 10px;
}

.header-container{
    position:relative; right:-800px; top:-5px;
}

.hr-container{
  border-top: 1px solid grey;
}

.image-container{
    position:relative; right:-200px; top:50px;
}

.text-container{
    position:relative; right:-700px; top:-580px;
}