*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: red;
    padding: 20px;
}

.inner-header{
    padding: 0px;
}

.logo-container{
    color: white;
}

.navigation{
    position: absolute;
    top: 20px;
    right: 0;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: black;
    color: #FF8C00;
}

.content{
    position: relative;
}

.inner-content{
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.header-container{
    padding: 20px;
}

.hr-container{
    border-top: 3px solid black;
}

.image-container{
    padding: 10px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.image_license-container{
    padding: 10px;
    position: absolute;
    left: 850px;
    top: 300px;
}

.text-container{
    position: absolute;
    left: 710px;
    top: 150px;
}